.App{
    font-family: sans-serif;
    text-align: center;
    background: grey;
    padding: 10px;
}

.Son {
    background: yellow;
    padding: 10px;
}

.GrandSon {
    background: green;
    padding: 10px;
    color: white;
}